*#
*.aux
*.bbl
*.blg
*.dvi
*.el
*.gz
*.idx
*.ilg
*.ind
*.log
*.maf
*.mtc*
*.toc
*_region_.tex
*~
*TAGS
*auto/
Makefile
Libro/Examenes_de_PF_con_Haskell_pdflatex.tex
Libro/_minted-Examenes_de_PF_con_Haskell/*
